src/MShop.API.Cart/.vs/
src/MShop.API.Cart/bin/
src/MShop.API.Cart/obj/

src/Mshop.Application/.vs/
src/Mshop.Application/bin/
src/Mshop.Application/obj/

src/MShop.Broker.Cart/.vs/
src/MShop.Broker.Cart/bin/
src/MShop.Broker.Cart/obj/

src/Mshop.Core/.vs/
src/Mshop.Core/bin/
src/Mshop.Core/obj/

src/Mshop.Domain/.vs/
src/Mshop.Domain/bin/
src/Mshop.Domain/obj/

src/Mshop.Infra.Consumer/.vs/
src/Mshop.Infra.Consumer/bin/
src/Mshop.Infra.Consumer/obj/

src/Mshop.Infra.Data/Mshop.Infra.Data/.vs/
src/Mshop.Infra.Data/Mshop.Infra.Data/bin/
src/Mshop.Infra.Data/Mshop.Infra.Data/obj/

tests/Mshop.Core.Test/.vs/
tests/Mshop.Core.Test/bin/
tests/Mshop.Core.Test/obj/

tests/Mshop.UnitTests/.vs/
tests/Mshop.UnitTests/bin/
tests/Mshop.UnitTests/obj/

tests/Mshop.IntegrationTest/.vs/
tests/Mshop.IntegrationTest/bin/
tests/Mshop.IntegrationTest/obj/




